:root{
    --color-background: cornflowerblue;
    --color-input: rgb(0, 0, 0);
    --color-input-text: rgb(0, 0, 0);
    --color-btn: rgb(0, 0, 0);
    --box-shadow: darkblue;
}

#container{
    display: flex;
    flex-direction: column;
    width: 75vw;
    align-items: center;
    text-align: center;
    margin: auto;
    background-color: var(--color-background);
    font-weight: 900;
    border-radius: 5%;
    box-shadow: 10px 7px 10px var(--box-shadow);
    margin-bottom: 1.5rem;
}

#btn-check{
    margin-bottom: 1rem;
    box-shadow: 5px 3px 5px black;
}

#btn-check:hover{
    background-color: var(--color-btn);
    color: white;
    box-shadow: 5px 3px 5px white;
}

#lucky-number{
    width: 20vw;
    max-width: 80%;
    box-shadow: 7px 5px 7px var(--box-shadow);
    border-radius: 5%;
}

#birth-date{
    width: 20vw;
    box-shadow: 7px 5px 7px var(--box-shadow);
    border-radius: 5%;
    max-width: 80%;
}

#result{
    background-color: var(--color-background);
    color: var(--color-input-text);
    padding: 1rem 1rem 1rem 1rem;
    margin: 1rem 1rem 1rem 1rem;
    font-size: larger;
    text-align: center;
    margin-top: 0;
}

#foot{
    max-width: 75vw;
    margin: auto;
    padding: 0.5rem 2rem 1.5rem 2rem;
    bottom: 0;
    text-align: center;
}

.link-f{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
    background-color: var(--color-background);
    border: 2px solid black;
    color: black;
    border-radius: 25px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.link-f:hover{
    color: white;
    box-shadow: 5px 4px 5px black;
}